page-login {

}

.loginForm .segment{
    background-color: unset;
}

.loginForm .item,.loginForm input{
    background-color: #648fff;
    color: #FFFFFF;
}

.loginFormItem{
   background-color:#e7e9f7;
}

.thinBorder{
    border: 6pt black dotted;
}